@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

html{
    scroll-behavior: smooth;
}
html,body{
    width: 100%;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 31rem;
    background: #33cc00;
}

.content{
    max-width: 62.5rem;
    min-width: 18.7rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: .6rem;
}

nav{
    width: 100%;
    height: 7.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand{
    font-family: var(--font-primary);
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
}

.content .header-block{
    max-width: 62.5rem;
    min-width: 18.7rem;
    height: 28rem;
    background: #202020;
    border-radius: 0.5rem;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
    padding: .6rem;
}

.header-block img{
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.header-block .text{
    position: absolute;
    bottom: 50%;
    left: 10%;
}

.header-block .text h2{
    font-family: var(--font-action);
    color: #fff;
    margin-bottom: 1rem;
    text-align: right;
    transform: translateX(-1rem);
    transition: transform 0.5s;
}

.header-block .text p{
    max-width: 15rem;
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    color: #fff;
    text-align: right;
    transform: translateX(-1rem);
    transition: transform 0.5s;
}

.title-promocao{
    margin-top: 5rem;
    padding-bottom: 1rem;
}

.title-promocao h1{
    font-family: var(--font-action);
    font-size: 5rem;
    text-align: center;
}

section .card-wrapper{
    width: 62.5rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16.8rem, 1fr));
    grid-gap: 1.8rem;
    padding-top: 3rem;
}

section .card-item{
    height: 30rem;
    background: #ededed;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-content{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item img{
    width: 75%;
}

.card-item h3{
    width: 90%;
    font-family: var(--font-action);
    font-size: 1.5rem;
}

.card-item p{
    width: 90%;
    font-family: var(--font-primary);
    color: #00000070;
    font-weight: 60;
}

.card-item button{
    width: 90%;
    padding: 1rem 0;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 0.2rem;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 0.6rem;
}

.card-item button:hover{
    background: #33cc00;
}

